Package: com.arichorn.cercubeplusextra
Name: CercubePlusExtra
Version: 18.17.2
Section: Tweaks
Architecture: iphoneos-arm
Description: CercubePlus Tweak with some useful features.
Maintainer: arichorn
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 14.0)
